# Dependencies
node_modules/
Backend/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Env
.env
Backend/.env
OCR/.env
OCR/app/__pycache__/

# Build
dist/
build/
*.tsbuildinfo

# Prisma generated
Backend/src/generated/prisma

# IDE
.idea/
.vscode/
.DS_Store

# Logs
*.log
npm-debug.log*
