node_modules
__pycache__
*.pyc
*.pyo
.venv
venv
env
.env
src/generated/prisma
dist
build
*.tsbuildinfo
.idea
.vscode
.DS_Store
*.log
npm-debug.log*
postman/Yupay.postman_collection.json
postman/Yupay.local.postman_environment.json
postman/Yupay.ci.postman_environment.json
coverage/
reports/
.pytest_cache/
*.pyc
htmlcov/
.coverage
.coverage.*
uploads/payments/*
!uploads/payments/.gitkeep
